<!DOCTYPE html>
<html lang="en-gb">
  <head>
    <meta charset="utf-8">
<!--
  So, you like to view source, do ya? That is *so* nineties of you!
  How about we consider this the 'special features' of lazyatom.com, as
  if this was a DVD or something. Yeah, that sounds good.

  Yes, this is hand-crafted HTML. It's not the slickest, but I think it does
  the job. I can't remember the last time I touched Dreamweaver, can you?
  Although I did use GoLive professionally about 10 years ago. Anyway.

  I hope you liked my 'site'. I figure why not just have a single page,
  there are loads of other better ways of finding out about me (and
  for me to communicate back to you).

  I guess I could tell you a joke... Hmm. OK: What do you call an exploding monkey?
-->

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>James Adam &raquo; lazyatom</title>
    <link rel="openid.server" href="http://www.myopenid.com/server">
    <link rel="openid.delegate" href="http://james.adam.myopenid.com/">
    <link href="style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="container">

      <%= content %>

    </div>

    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    try {
    var pageTracker = _gat._getTracker("UA-573082-8");
    pageTracker._trackPageview();
    } catch(err) {}</script>
  </body>
  <!--
    ... an Oranga-bang!

    And what do you call another exploding monkey?

    A Ba-Boom!
  -->
</html>
