<!DOCTYPE html>
<html lang="en-gb">
  <head>
    <meta charset="utf-8">
<!--
  So, you like to view source, do ya? That is *so* nineties of you!
  How about we consider this the 'special features' of lazyatom.com, as
  if this was a DVD or something. Yeah, that sounds good.

  Yes, this is hand-crafted HTML. It's not the slickest, but I think it does
  the job. I can't remember the last time I touched Dreamweaver, can you?
  Although I did use GoLive professionally about 10 years ago. Anyway.

  I hope you liked my 'site'. I figure why not just have a single page,
  there are loads of other better ways of finding out about me (and
  for me to communicate back to you).

  I guess I could tell you a joke... Hmm. OK: What do you call an exploding monkey?
-->

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>James Adam &raquo; lazyatom</title>
    <link rel="openid2.provider" href="https://openid.stackexchange.com/openid/provider">
    <link rel="openid2.local_id" href="https://openid.stackexchange.com/user/6bfacc79-efc1-4afc-8b63-116e7e1a17fa">
    <link rel="openid2.provider" href="https://www.google.com/accounts/o8/ud?source=profiles" />
    <link rel="openid2.local_id" href="https://profiles.google.com/116981941460027892746" />
    <link href="style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="container">

      <%= content %>

    </div>

    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    try {
    var pageTracker = _gat._getTracker("UA-573082-8");
    pageTracker._trackPageview();
    } catch(err) {}</script>
    <script type="text/javascript">
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '52349714108d7b09a4000166');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
    </script>
  </body>
  <!--
    ... an Oranga-bang!

    And what do you call another exploding monkey?

    A Ba-Boom!
  -->
</html>
